---
import LogIn from "@/modules/authentication/components/LogInCom.vue";
import SignUp from "@/modules/authentication/components/SignUpCom.vue";
import ForgotPassword from "@/modules/authentication/components/ForgotPasswordCom.vue";
import OTP from "@/modules/authentication/components/OtpCom.vue";
---

<main class="bg-white rounded-3xl">
  <LogIn client:load />
  <SignUp client:load />
  <ForgotPassword client:load />
  <OTP client:load />
</main>
