---
import type { CollectionEntry } from "astro:content";
// import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"blog">["data"];
---

<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body class="p-0 m-0">
    <Header />
    <main class="w-full mx-auto">
      <!-- <article class="bg-black"> -->
      <article class="bg-lightGrey">
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
